<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Matt Rajca</string>
	<key>CFBundleDisplayName</key>
	<string>GAlpha</string>
	<key>CFBundleIdentifier</key>
	<string>com.MattRajca.safari.GAlpha</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>CFBundleVersion</key>
	<string>5</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>script.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>style.css</string>
		</array>
		<key>Whitelist</key>
		<array>
			<string>http://*.google.com/</string>
			<string>https://*.google.com/</string>
			<string>http://*.google.ad/</string>
			<string>https://*.google.ad/</string>
			<string>http://*.google.ae/</string>
			<string>https://*.google.ae/</string>
			<string>http://*.google.com.af/</string>
			<string>https://*.google.com.af/</string>
			<string>http://*.google.com.ag/</string>
			<string>https://*.google.com.ag/</string>
			<string>http://*.google.com.ai/</string>
			<string>https://*.google.com.ai/</string>
			<string>http://*.google.am/</string>
			<string>https://*.google.am/</string>
			<string>http://*.google.it.ao/</string>
			<string>https://*.google.it.ao/</string>
			<string>http://*.google.com.ar/</string>
			<string>https://*.google.com.ar/</string>
			<string>http://*.google.as/</string>
			<string>https://*.google.as/</string>
			<string>http://*.google.at/</string>
			<string>https://*.google.at/</string>
			<string>http://*.google.com.au/</string>
			<string>https://*.google.com.au/</string>
			<string>http://*.google.az/</string>
			<string>https://*.google.az/</string>
			<string>http://*.google.ba/</string>
			<string>https://*.google.ba/</string>
			<string>http://*.google.com.bd/</string>
			<string>https://*.google.com.bd/</string>
			<string>http://*.google.be/</string>
			<string>https://*.google.be/</string>
			<string>http://*.google.bf/</string>
			<string>https://*.google.bf/</string>
			<string>http://*.google.bg/</string>
			<string>https://*.google.bg/</string>
			<string>http://*.google.com.bh/</string>
			<string>https://*.google.com.bh/</string>
			<string>http://*.google.bi/</string>
			<string>https://*.google.bi/</string>
			<string>http://*.google.bj/</string>
			<string>https://*.google.bj/</string>
			<string>http://*.google.com.bn/</string>
			<string>https://*.google.com.bn/</string>
			<string>http://*.google.com.bo/</string>
			<string>https://*.google.com.bo/</string>
			<string>http://*.google.com.br/</string>
			<string>https://*.google.com.br/</string>
			<string>http://*.google.bs/</string>
			<string>https://*.google.bs/</string>
			<string>http://*.google.co.bw/</string>
			<string>https://*.google.co.bw/</string>
			<string>http://*.google.com.by/</string>
			<string>https://*.google.com.by/</string>
			<string>http://*.google.com.bz/</string>
			<string>https://*.google.com.bz/</string>
			<string>http://*.google.ca/</string>
			<string>https://*.google.ca/</string>
			<string>http://*.google.cd/</string>
			<string>https://*.google.cd/</string>
			<string>http://*.google.cf/</string>
			<string>https://*.google.cf/</string>
			<string>http://*.google.cg/</string>
			<string>https://*.google.cg/</string>
			<string>http://*.google.ch/</string>
			<string>https://*.google.ch/</string>
			<string>http://*.google.ci/</string>
			<string>https://*.google.ci/</string>
			<string>http://*.google.co.ck/</string>
			<string>https://*.google.co.ck/</string>
			<string>http://*.google.cl/</string>
			<string>https://*.google.cl/</string>
			<string>http://*.google.cm/</string>
			<string>https://*.google.cm/</string>
			<string>http://*.google.cn/</string>
			<string>https://*.google.cn/</string>
			<string>http://*.google.com.co/</string>
			<string>https://*.google.com.co/</string>
			<string>http://*.google.co.cr/</string>
			<string>https://*.google.co.cr/</string>
			<string>http://*.google.com.cu/</string>
			<string>https://*.google.com.cu/</string>
			<string>http://*.google.cz/</string>
			<string>https://*.google.cz/</string>
			<string>http://*.google.de/</string>
			<string>https://*.google.de/</string>
			<string>http://*.google.dj/</string>
			<string>https://*.google.dj/</string>
			<string>http://*.google.dk/</string>
			<string>https://*.google.dk/</string>
			<string>http://*.google.dm/</string>
			<string>https://*.google.dm/</string>
			<string>http://*.google.com.do/</string>
			<string>https://*.google.com.do/</string>
			<string>http://*.google.dz/</string>
			<string>https://*.google.dz/</string>
			<string>http://*.google.com.ec/</string>
			<string>https://*.google.com.ec/</string>
			<string>http://*.google.ee/</string>
			<string>https://*.google.ee/</string>
			<string>http://*.google.com.eg/</string>
			<string>https://*.google.com.eg/</string>
			<string>http://*.google.es/</string>
			<string>https://*.google.es/</string>
			<string>http://*.google.com.et/</string>
			<string>https://*.google.com.et/</string>
			<string>http://*.google.fi/</string>
			<string>https://*.google.fi/</string>
			<string>http://*.google.com.fj/</string>
			<string>https://*.google.com.fj/</string>
			<string>http://*.google.fm/</string>
			<string>https://*.google.fm/</string>
			<string>http://*.google.fr/</string>
			<string>https://*.google.fr/</string>
			<string>http://*.google.ga/</string>
			<string>https://*.google.ga/</string>
			<string>http://*.google.ge/</string>
			<string>https://*.google.ge/</string>
			<string>http://*.google.gg/</string>
			<string>https://*.google.gg/</string>
			<string>http://*.google.com.gh/</string>
			<string>https://*.google.com.gh/</string>
			<string>http://*.google.com.gi/</string>
			<string>https://*.google.com.gi/</string>
			<string>http://*.google.gl/</string>
			<string>https://*.google.gl/</string>
			<string>http://*.google.gm/</string>
			<string>https://*.google.gm/</string>
			<string>http://*.google.gp/</string>
			<string>https://*.google.gp/</string>
			<string>http://*.google.gr/</string>
			<string>https://*.google.gr/</string>
			<string>http://*.google.com.gt/</string>
			<string>https://*.google.com.gt/</string>
			<string>http://*.google.gy/</string>
			<string>https://*.google.gy/</string>
			<string>http://*.google.com.hk/</string>
			<string>https://*.google.com.hk/</string>
			<string>http://*.google.hn/</string>
			<string>https://*.google.hn/</string>
			<string>http://*.google.hr/</string>
			<string>https://*.google.hr/</string>
			<string>http://*.google.ht/</string>
			<string>https://*.google.ht/</string>
			<string>http://*.google.hu/</string>
			<string>https://*.google.hu/</string>
			<string>http://*.google.co.id/</string>
			<string>https://*.google.co.id/</string>
			<string>http://*.google.ie/</string>
			<string>https://*.google.ie/</string>
			<string>http://*.google.co.il/</string>
			<string>https://*.google.co.il/</string>
			<string>http://*.google.im/</string>
			<string>https://*.google.im/</string>
			<string>http://*.google.co.in/</string>
			<string>https://*.google.co.in/</string>
			<string>http://*.google.is/</string>
			<string>https://*.google.is/</string>
			<string>http://*.google.it/</string>
			<string>https://*.google.it/</string>
			<string>http://*.google.je/</string>
			<string>https://*.google.je/</string>
			<string>http://*.google.com.jm/</string>
			<string>https://*.google.com.jm/</string>
			<string>http://*.google.jo/</string>
			<string>https://*.google.jo/</string>
			<string>http://*.google.co.jp/</string>
			<string>https://*.google.co.jp/</string>
			<string>http://*.google.co.ke/</string>
			<string>https://*.google.co.ke/</string>
			<string>http://*.google.com.kh/</string>
			<string>https://*.google.com.kh/</string>
			<string>http://*.google.ki/</string>
			<string>https://*.google.ki/</string>
			<string>http://*.google.kg/</string>
			<string>https://*.google.kg/</string>
			<string>http://*.google.co.kr/</string>
			<string>https://*.google.co.kr/</string>
			<string>http://*.google.com.kw/</string>
			<string>https://*.google.com.kw/</string>
			<string>http://*.google.kz/</string>
			<string>https://*.google.kz/</string>
			<string>http://*.google.la/</string>
			<string>https://*.google.la/</string>
			<string>http://*.google.com.lb/</string>
			<string>https://*.google.com.lb/</string>
			<string>http://*.google.li/</string>
			<string>https://*.google.li/</string>
			<string>http://*.google.lk/</string>
			<string>https://*.google.lk/</string>
			<string>http://*.google.co.ls/</string>
			<string>https://*.google.co.ls/</string>
			<string>http://*.google.lt/</string>
			<string>https://*.google.lt/</string>
			<string>http://*.google.lu/</string>
			<string>https://*.google.lu/</string>
			<string>http://*.google.lv/</string>
			<string>https://*.google.lv/</string>
			<string>http://*.google.com.ly/</string>
			<string>https://*.google.com.ly/</string>
			<string>http://*.google.co.ma/</string>
			<string>https://*.google.co.ma/</string>
			<string>http://*.google.md/</string>
			<string>https://*.google.md/</string>
			<string>http://*.google.me/</string>
			<string>https://*.google.me/</string>
			<string>http://*.google.mg/</string>
			<string>https://*.google.mg/</string>
			<string>http://*.google.mk/</string>
			<string>https://*.google.mk/</string>
			<string>http://*.google.ml/</string>
			<string>https://*.google.ml/</string>
			<string>http://*.google.mn/</string>
			<string>https://*.google.mn/</string>
			<string>http://*.google.ms/</string>
			<string>https://*.google.ms/</string>
			<string>http://*.google.com.mt/</string>
			<string>https://*.google.com.mt/</string>
			<string>http://*.google.mu/</string>
			<string>https://*.google.mu/</string>
			<string>http://*.google.mv/</string>
			<string>https://*.google.mv/</string>
			<string>http://*.google.mw/</string>
			<string>https://*.google.mw/</string>
			<string>http://*.google.com.mx/</string>
			<string>https://*.google.com.mx/</string>
			<string>http://*.google.com.my/</string>
			<string>https://*.google.com.my/</string>
			<string>http://*.google.co.mz/</string>
			<string>https://*.google.co.mz/</string>
			<string>http://*.google.com.na/</string>
			<string>https://*.google.com.na/</string>
			<string>http://*.google.com.nf/</string>
			<string>https://*.google.com.nf/</string>
			<string>http://*.google.com.ng/</string>
			<string>https://*.google.com.ng/</string>
			<string>http://*.google.com.ni/</string>
			<string>https://*.google.com.ni/</string>
			<string>http://*.google.ne/</string>
			<string>https://*.google.ne/</string>
			<string>http://*.google.nl/</string>
			<string>https://*.google.nl/</string>
			<string>http://*.google.no/</string>
			<string>https://*.google.no/</string>
			<string>http://*.google.com.np/</string>
			<string>https://*.google.com.np/</string>
			<string>http://*.google.nr/</string>
			<string>https://*.google.nr/</string>
			<string>http://*.google.nu/</string>
			<string>https://*.google.nu/</string>
			<string>http://*.google.co.nz/</string>
			<string>https://*.google.co.nz/</string>
			<string>http://*.google.com.om/</string>
			<string>https://*.google.com.om/</string>
			<string>http://*.google.com.pa/</string>
			<string>https://*.google.com.pa/</string>
			<string>http://*.google.com.pe/</string>
			<string>https://*.google.com.pe/</string>
			<string>http://*.google.com.ph/</string>
			<string>https://*.google.com.ph/</string>
			<string>http://*.google.com.pk/</string>
			<string>https://*.google.com.pk/</string>
			<string>http://*.google.pl/</string>
			<string>https://*.google.pl/</string>
			<string>http://*.google.pn/</string>
			<string>https://*.google.pn/</string>
			<string>http://*.google.com.pr/</string>
			<string>https://*.google.com.pr/</string>
			<string>http://*.google.ps/</string>
			<string>https://*.google.ps/</string>
			<string>http://*.google.pt/</string>
			<string>https://*.google.pt/</string>
			<string>http://*.google.com.py/</string>
			<string>https://*.google.com.py/</string>
			<string>http://*.google.com.qa/</string>
			<string>https://*.google.com.qa/</string>
			<string>http://*.google.ro/</string>
			<string>https://*.google.ro/</string>
			<string>http://*.google.ru/</string>
			<string>https://*.google.ru/</string>
			<string>http://*.google.rw/</string>
			<string>https://*.google.rw/</string>
			<string>http://*.google.com.sa/</string>
			<string>https://*.google.com.sa/</string>
			<string>http://*.google.com.sb/</string>
			<string>https://*.google.com.sb/</string>
			<string>http://*.google.sc/</string>
			<string>https://*.google.sc/</string>
			<string>http://*.google.se/</string>
			<string>https://*.google.se/</string>
			<string>http://*.google.com.sg/</string>
			<string>https://*.google.com.sg/</string>
			<string>http://*.google.sh/</string>
			<string>https://*.google.sh/</string>
			<string>http://*.google.si/</string>
			<string>https://*.google.si/</string>
			<string>http://*.google.sk/</string>
			<string>https://*.google.sk/</string>
			<string>http://*.google.com.sl/</string>
			<string>https://*.google.com.sl/</string>
			<string>http://*.google.sn/</string>
			<string>https://*.google.sn/</string>
			<string>http://*.google.sm/</string>
			<string>https://*.google.sm/</string>
			<string>http://*.google.st/</string>
			<string>https://*.google.st/</string>
			<string>http://*.google.com.sv/</string>
			<string>https://*.google.com.sv/</string>
			<string>http://*.google.td/</string>
			<string>https://*.google.td/</string>
			<string>http://*.google.tg/</string>
			<string>https://*.google.tg/</string>
			<string>http://*.google.co.th/</string>
			<string>https://*.google.co.th/</string>
			<string>http://*.google.com.tj/</string>
			<string>https://*.google.com.tj/</string>
			<string>http://*.google.tk/</string>
			<string>https://*.google.tk/</string>
			<string>http://*.google.tl/</string>
			<string>https://*.google.tl/</string>
			<string>http://*.google.tm/</string>
			<string>https://*.google.tm/</string>
			<string>http://*.google.to/</string>
			<string>https://*.google.to/</string>
			<string>http://*.google.com.tr/</string>
			<string>https://*.google.com.tr/</string>
			<string>http://*.google.tt/</string>
			<string>https://*.google.tt/</string>
			<string>http://*.google.com.tw/</string>
			<string>https://*.google.com.tw/</string>
			<string>http://*.google.co.tz/</string>
			<string>https://*.google.co.tz/</string>
			<string>http://*.google.com.ua/</string>
			<string>https://*.google.com.ua/</string>
			<string>http://*.google.co.ug/</string>
			<string>https://*.google.co.ug/</string>
			<string>http://*.google.co.uk/</string>
			<string>https://*.google.co.uk/</string>
			<string>http://*.google.com.uy/</string>
			<string>https://*.google.com.uy/</string>
			<string>http://*.google.co.uz/</string>
			<string>https://*.google.co.uz/</string>
			<string>http://*.google.com.vc/</string>
			<string>https://*.google.com.vc/</string>
			<string>http://*.google.co.ve/</string>
			<string>https://*.google.co.ve/</string>
			<string>http://*.google.vg/</string>
			<string>https://*.google.vg/</string>
			<string>http://*.google.co.vi/</string>
			<string>https://*.google.co.vi/</string>
			<string>http://*.google.com.vn/</string>
			<string>https://*.google.com.vn/</string>
			<string>http://*.google.vu/</string>
			<string>https://*.google.vu/</string>
			<string>http://*.google.ws/</string>
			<string>https://*.google.ws/</string>
			<string>http://*.google.rs/</string>
			<string>https://*.google.rs/</string>
			<string>http://*.google.co.za/</string>
			<string>https://*.google.co.za/</string>
			<string>http://*.google.co.zm/</string>
			<string>https://*.google.co.zm/</string>
			<string>http://*.google.co.zw/</string>
			<string>https://*.google.co.zw/</string>
			<string>http://*.google.cat/</string>
			<string>https://*.google.cat/</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Adds a Wolfram Alpha search button to Google's homepage</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.google.com</string>
				<string>*.google.ad</string>
				<string>*.google.ae</string>
				<string>*.google.com.af</string>
				<string>*.google.com.ag</string>
				<string>*.google.com.ai</string>
				<string>*.google.am</string>
				<string>*.google.it.ao</string>
				<string>*.google.com.ar</string>
				<string>*.google.as</string>
				<string>*.google.at</string>
				<string>*.google.com.au</string>
				<string>*.google.az</string>
				<string>*.google.ba</string>
				<string>*.google.com.bd</string>
				<string>*.google.be</string>
				<string>*.google.bf</string>
				<string>*.google.bg</string>
				<string>*.google.com.bh</string>
				<string>*.google.bi</string>
				<string>*.google.bj</string>
				<string>*.google.com.bn</string>
				<string>*.google.com.bo</string>
				<string>*.google.com.br</string>
				<string>*.google.bs</string>
				<string>*.google.co.bw</string>
				<string>*.google.com.by</string>
				<string>*.google.com.bz</string>
				<string>*.google.ca</string>
				<string>*.google.cd</string>
				<string>*.google.cf</string>
				<string>*.google.cg</string>
				<string>*.google.ch</string>
				<string>*.google.ci</string>
				<string>*.google.co.ck</string>
				<string>*.google.cl</string>
				<string>*.google.cm</string>
				<string>*.google.cn</string>
				<string>*.google.com.co</string>
				<string>*.google.co.cr</string>
				<string>*.google.com.cu</string>
				<string>*.google.cz</string>
				<string>*.google.de</string>
				<string>*.google.dj</string>
				<string>*.google.dk</string>
				<string>*.google.dm</string>
				<string>*.google.com.do</string>
				<string>*.google.dz</string>
				<string>*.google.com.ec</string>
				<string>*.google.ee</string>
				<string>*.google.com.eg</string>
				<string>*.google.es</string>
				<string>*.google.com.et</string>
				<string>*.google.fi</string>
				<string>*.google.com.fj</string>
				<string>*.google.fm</string>
				<string>*.google.fr</string>
				<string>*.google.ga</string>
				<string>*.google.ge</string>
				<string>*.google.gg</string>
				<string>*.google.com.gh</string>
				<string>*.google.com.gi</string>
				<string>*.google.gl</string>
				<string>*.google.gm</string>
				<string>*.google.gp</string>
				<string>*.google.gr</string>
				<string>*.google.com.gt</string>
				<string>*.google.gy</string>
				<string>*.google.com.hk</string>
				<string>*.google.hn</string>
				<string>*.google.hr</string>
				<string>*.google.ht</string>
				<string>*.google.hu</string>
				<string>*.google.co.id</string>
				<string>*.google.ie</string>
				<string>*.google.co.il</string>
				<string>*.google.im</string>
				<string>*.google.co.in</string>
				<string>*.google.is</string>
				<string>*.google.it</string>
				<string>*.google.je</string>
				<string>*.google.com.jm</string>
				<string>*.google.jo</string>
				<string>*.google.co.jp</string>
				<string>*.google.co.ke</string>
				<string>*.google.com.kh</string>
				<string>*.google.ki</string>
				<string>*.google.kg</string>
				<string>*.google.co.kr</string>
				<string>*.google.com.kw</string>
				<string>*.google.kz</string>
				<string>*.google.la</string>
				<string>*.google.com.lb</string>
				<string>*.google.li</string>
				<string>*.google.lk</string>
				<string>*.google.co.ls</string>
				<string>*.google.lt</string>
				<string>*.google.lu</string>
				<string>*.google.lv</string>
				<string>*.google.com.ly</string>
				<string>*.google.co.ma</string>
				<string>*.google.md</string>
				<string>*.google.me</string>
				<string>*.google.mg</string>
				<string>*.google.mk</string>
				<string>*.google.ml</string>
				<string>*.google.mn</string>
				<string>*.google.ms</string>
				<string>*.google.com.mt</string>
				<string>*.google.mu</string>
				<string>*.google.mv</string>
				<string>*.google.mw</string>
				<string>*.google.com.mx</string>
				<string>*.google.com.my</string>
				<string>*.google.co.mz</string>
				<string>*.google.com.na</string>
				<string>*.google.com.nf</string>
				<string>*.google.com.ng</string>
				<string>*.google.com.ni</string>
				<string>*.google.ne</string>
				<string>*.google.nl</string>
				<string>*.google.no</string>
				<string>*.google.com.np</string>
				<string>*.google.nr</string>
				<string>*.google.nu</string>
				<string>*.google.co.nz</string>
				<string>*.google.com.om</string>
				<string>*.google.com.pa</string>
				<string>*.google.com.pe</string>
				<string>*.google.com.ph</string>
				<string>*.google.com.pk</string>
				<string>*.google.pl</string>
				<string>*.google.pn</string>
				<string>*.google.com.pr</string>
				<string>*.google.ps</string>
				<string>*.google.pt</string>
				<string>*.google.com.py</string>
				<string>*.google.com.qa</string>
				<string>*.google.ro</string>
				<string>*.google.ru</string>
				<string>*.google.rw</string>
				<string>*.google.com.sa</string>
				<string>*.google.com.sb</string>
				<string>*.google.sc</string>
				<string>*.google.se</string>
				<string>*.google.com.sg</string>
				<string>*.google.sh</string>
				<string>*.google.si</string>
				<string>*.google.sk</string>
				<string>*.google.com.sl</string>
				<string>*.google.sn</string>
				<string>*.google.sm</string>
				<string>*.google.st</string>
				<string>*.google.com.sv</string>
				<string>*.google.td</string>
				<string>*.google.tg</string>
				<string>*.google.co.th</string>
				<string>*.google.com.tj</string>
				<string>*.google.tk</string>
				<string>*.google.tl</string>
				<string>*.google.tm</string>
				<string>*.google.to</string>
				<string>*.google.com.tr</string>
				<string>*.google.tt</string>
				<string>*.google.com.tw</string>
				<string>*.google.co.tz</string>
				<string>*.google.com.ua</string>
				<string>*.google.co.ug</string>
				<string>*.google.co.uk</string>
				<string>*.google.com.uy</string>
				<string>*.google.co.uz</string>
				<string>*.google.com.vc</string>
				<string>*.google.co.ve</string>
				<string>*.google.vg</string>
				<string>*.google.co.vi</string>
				<string>*.google.com.vn</string>
				<string>*.google.vu</string>
				<string>*.google.ws</string>
				<string>*.google.rs</string>
				<string>*.google.co.za</string>
				<string>*.google.co.zm</string>
				<string>*.google.co.zw</string>
				<string>*.google.cat</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://github.com/mattrajca/Safari-Extensions/raw/master/GAlpha/latest.plist</string>
	<key>Website</key>
	<string>http://github.com/mattrajca/Safari-Extensions/raw/master/GAlpha/</string>
</dict>
</plist>
